# Ignore Visual Studio Code Folder
.devcontainer/
.vscode/

# Ignore data and heavy model folder
/bags/
models/teatro/mesh/teatro.stl
simulation_data/ugv_data.csv
simulation_data/tether_data.csv
simulation_data/drone_data.csv

# Ignore pther trajectory results
optimized_path/optimized_path_2022_2_27_213811.yaml
optimized_path/optimized_path_teatro_test.yaml
optimized_path/optimized_path_teatro_wall_opt.yaml
optimized_path/optimized_path_teatro_wall.yaml
optimized_path/teatro_mission.yaml
optimized_path/teatro_trajectory.yaml